/*COLORES*/
$text-color:#4b0082;
$color-h1:#720505;

/*ESPACIADO*/
$largo:6rem;
$medio:3rem;
$chico:2rem;
$mini:1rem;

/*FUENTES*/
$font_principal:'Barlow', 'san-serif';
$font_titulo: 'Reboto Slab', 'serif';

/*TAMAÑO FUENTE*/
$grande:6rem;
$mediano:3rem;
$peque:10px;





